<link rel="stylesheet" href="/components/category-sidebar/category-sidebar.css" data-component-style="category-sidebar" />

<aside class="category-sidebar" id="category-sidebar">
  <div class="category-sidebar__header">
    <button class="category-sidebar__close" type="button" aria-label="Close filter">
      <i class="ph ph-x" aria-hidden="true"></i>
    </button>
  </div>

  <div class="category-sidebar__section">
    <div class="category-sidebar__section-header">
      <h3 class="category-sidebar__title">Category</h3>
    </div>
    <ul class="category-sidebar__list">
      <li class="category-sidebar__item">
        <a class="category-sidebar__link is-active" href="/pages/product/list.html" aria-current="page">
          <span class="category-sidebar__name">Phones</span>
          <span class="category-sidebar__count">120</span>
        </a>
        <ul class="category-sidebar__sublist">
          <li class="category-sidebar__subitem">
            <a class="category-sidebar__sublink" href="/pages/product/list.html">Smartphones</a>
          </li>
          <li class="category-sidebar__subitem">
            <a class="category-sidebar__sublink" href="/pages/product/list.html">Feature Phones</a>
          </li>
          <li class="category-sidebar__subitem">
            <a class="category-sidebar__sublink" href="/pages/product/list.html">Refurbished</a>
          </li>
          <li class="category-sidebar__subitem">
            <a class="category-sidebar__sublink" href="/pages/product/list.html">Phone Cases</a>
          </li>
        </ul>
      </li>
      <li class="category-sidebar__item">
        <a class="category-sidebar__link" href="/pages/product/list.html">
          <span class="category-sidebar__name">Tablets</span>
          <span class="category-sidebar__count">30</span>
        </a>
      </li>
      <li class="category-sidebar__item">
        <a class="category-sidebar__link" href="/pages/product/list.html">
          <span class="category-sidebar__name">Laptops</span>
          <span class="category-sidebar__count">10</span>
        </a>
      </li>
      <li class="category-sidebar__item">
        <a class="category-sidebar__link" href="/pages/product/list.html">
          <span class="category-sidebar__name">Accessories</span>
          <span class="category-sidebar__count">8</span>
        </a>
      </li>
      <li class="category-sidebar__item">
        <a class="category-sidebar__link" href="/pages/product/list.html">
          <span class="category-sidebar__name">Headphones</span>
          <span class="category-sidebar__count">8</span>
        </a>
      </li>
      <li class="category-sidebar__item">
        <a class="category-sidebar__link" href="/pages/product/list.html">
          <span class="category-sidebar__name">Smartwatches</span>
          <span class="category-sidebar__count">8</span>
        </a>
      </li>
    </ul>
  </div>
</aside>
