<link rel="stylesheet" href="/components/category-sidebar/category-sidebar.css" data-component-style="category-sidebar" />

<aside class="category-sidebar" id="category-sidebar">
  <div class="category-sidebar__header">
    <button class="category-sidebar__close" type="button" aria-label="Close filter">
      <i class="ph ph-x" aria-hidden="true"></i>
    </button>
  </div>

  <div class="category-sidebar__section">
    <div class="category-sidebar__section-header">
      <h3 class="category-sidebar__title">Category</h3>
      <button class="category-sidebar__reset" type="button">Reset</button>
    </div>
    <ul class="category-sidebar__list">
      <li class="category-sidebar__item">
        <label class="category-sidebar__label">
          <input class="category-sidebar__checkbox" type="checkbox" checked />
          <span class="category-sidebar__name">Phones</span>
          <span class="category-sidebar__count">120</span>
        </label>
      </li>
      <li class="category-sidebar__item">
        <label class="category-sidebar__label">
          <input class="category-sidebar__checkbox" type="checkbox" />
          <span class="category-sidebar__name">Tablets</span>
          <span class="category-sidebar__count">30</span>
        </label>
      </li>
      <li class="category-sidebar__item">
        <label class="category-sidebar__label">
          <input class="category-sidebar__checkbox" type="checkbox" />
          <span class="category-sidebar__name">Laptops</span>
          <span class="category-sidebar__count">10</span>
        </label>
      </li>
      <li class="category-sidebar__item">
        <label class="category-sidebar__label">
          <input class="category-sidebar__checkbox" type="checkbox" />
          <span class="category-sidebar__name">Accessories</span>
          <span class="category-sidebar__count">8</span>
        </label>
      </li>
      <li class="category-sidebar__item">
        <label class="category-sidebar__label">
          <input class="category-sidebar__checkbox" type="checkbox" />
          <span class="category-sidebar__name">Headphones</span>
          <span class="category-sidebar__count">8</span>
        </label>
      </li>
      <li class="category-sidebar__item">
        <label class="category-sidebar__label">
          <input class="category-sidebar__checkbox" type="checkbox" />
          <span class="category-sidebar__name">Smartwatches</span>
          <span class="category-sidebar__count">8</span>
        </label>
      </li>
    </ul>
    <button class="category-sidebar__show-more" type="button">Show more</button>
  </div>
</aside>
