<link rel="stylesheet" href="/components/support-sidebar/support-sidebar.css" data-component-style="support-sidebar" />

<aside class="support-sidebar">
  <nav class="support-sidebar__nav">
    <ul class="support-sidebar__list">
      <li class="support-sidebar__item">
        <a class="support-sidebar__link is-active" href="/pages/board/notices.html" aria-current="page">
          <span class="support-sidebar__name">Announcements</span>
          <i class="ph ph-caret-right support-sidebar__arrow" aria-hidden="true"></i>
        </a>
      </li>
      <li class="support-sidebar__item">
        <a class="support-sidebar__link" href="#">
          <span class="support-sidebar__name">FAQ</span>
          <i class="ph ph-caret-right support-sidebar__arrow" aria-hidden="true"></i>
        </a>
      </li>
      <li class="support-sidebar__item">
        <a class="support-sidebar__link" href="#">
          <span class="support-sidebar__name">Contact Us</span>
          <i class="ph ph-caret-right support-sidebar__arrow" aria-hidden="true"></i>
        </a>
      </li>
      <li class="support-sidebar__item">
        <a class="support-sidebar__link" href="#">
          <span class="support-sidebar__name">Bulk Orders</span>
          <i class="ph ph-caret-right support-sidebar__arrow" aria-hidden="true"></i>
        </a>
      </li>
    </ul>
  </nav>

  <div class="support-sidebar__cta">
    <p class="support-sidebar__cta-title">Need help?</p>
    <p class="support-sidebar__cta-desc">Contact us directly</p>
    <a class="support-sidebar__cta-link" href="#">
      Contact Us
      <i class="ph ph-caret-right" aria-hidden="true"></i>
    </a>
  </div>
</aside>
