<link
	rel="stylesheet"
	href="/components/account-sidebar/account-sidebar.css"
	data-component-style="account-sidebar"
/>

<aside class="account-sidebar">
	<nav class="account-sidebar__nav">
		<ul class="account-sidebar__list">
			<li class="account-sidebar__item">
				<a class="account-sidebar__link" href="/pages/account/index.html">
					<span class="account-sidebar__name">My Page</span>
					<i class="ph ph-caret-right account-sidebar__arrow" aria-hidden="true"></i>
				</a>
			</li>
			<li class="account-sidebar__item">
				<a class="account-sidebar__link" href="/pages/my/orders.html">
					<span class="account-sidebar__name">Order History</span>
					<i class="ph ph-caret-right account-sidebar__arrow" aria-hidden="true"></i>
				</a>
			</li>
			<li class="account-sidebar__item">
				<a class="account-sidebar__link" href="/pages/account/index.html">
					<span class="account-sidebar__name">Wishlist</span>
					<i class="ph ph-caret-right account-sidebar__arrow" aria-hidden="true"></i>
				</a>
			</li>
			<li class="account-sidebar__item">
				<a class="account-sidebar__link" href="/pages/account/index.html">
					<span class="account-sidebar__name">Account Settings</span>
					<i class="ph ph-caret-right account-sidebar__arrow" aria-hidden="true"></i>
				</a>
			</li>
			<li class="account-sidebar__item">
				<a class="account-sidebar__link" href="/pages/account/index.html">
					<span class="account-sidebar__name">Address Book</span>
					<i class="ph ph-caret-right account-sidebar__arrow" aria-hidden="true"></i>
				</a>
			</li>
			<li class="account-sidebar__item">
				<a class="account-sidebar__link" href="/pages/account/index.html">
					<span class="account-sidebar__name">Coupons</span>
					<i class="ph ph-caret-right account-sidebar__arrow" aria-hidden="true"></i>
				</a>
			</li>
			<li class="account-sidebar__item">
				<a class="account-sidebar__link" href="/pages/account/index.html">
					<span class="account-sidebar__name">Reviews</span>
					<i class="ph ph-caret-right account-sidebar__arrow" aria-hidden="true"></i>
				</a>
			</li>
		</ul>
	</nav>
</aside>
