<link rel="stylesheet" href="/components/banner/carousel.css" data-component-style="banner-carousel" />

<div class="banner-carousel js-banner-carousel">
  <div class="banner-carousel__viewport">
    <div class="banner-carousel__container">

      <div class="banner-carousel__slide banner-carousel__slide--1">
        <p>Slide 1</p>
      </div>

      <div class="banner-carousel__slide banner-carousel__slide--2">
        <p>Slide 2</p>
      </div>

      <div class="banner-carousel__slide banner-carousel__slide--3">
        <p>Slide 3</p>
      </div>

    </div>
  </div>

  <button class="banner-carousel__prev" type="button" aria-label="Previous slide">
    <i class="ph ph-arrow-left" aria-hidden="true"></i>
  </button>
  <button class="banner-carousel__next" type="button" aria-label="Next slide">
    <i class="ph ph-arrow-right" aria-hidden="true"></i>
  </button>

  <div class="banner-carousel__dots"></div>
</div>
