<link rel="stylesheet" href="/components/banner/carousel.css" data-component-style="banner-carousel" />

<div class="banner-carousel js-banner-carousel">
  <div class="banner-carousel__viewport">
    <div class="banner-carousel__container">

      <div class="banner-carousel__slide banner-carousel__slide--1">
        <div class="banner-carousel__parallax">
          <img src="/banner/banner-1.webp" alt="Banner slide 1" />
        </div>
      </div>

      <div class="banner-carousel__slide banner-carousel__slide--2">
        <div class="banner-carousel__parallax">
          <img src="/banner/banner-2.webp" alt="Banner slide 2" />
        </div>
      </div>

      <div class="banner-carousel__slide banner-carousel__slide--3">
        <div class="banner-carousel__parallax">
          <img src="/banner/banner-3.webp" alt="Banner slide 3" />
        </div>
      </div>

    </div>
  </div>

  <button class="banner-carousel__prev" type="button" aria-label="Previous slide">
    <i class="ph ph-caret-left" aria-hidden="true"></i>
  </button>
  <button class="banner-carousel__next" type="button" aria-label="Next slide">
    <i class="ph ph-caret-right" aria-hidden="true"></i>
  </button>

  <div class="banner-carousel__dots"></div>
</div>
