<link rel="stylesheet" href="/components/banner/swiper.css" data-component-style="banner-swiper" />

<div class="banner-swiper swiper js-banner-swiper">
  <div class="swiper-wrapper">

    <div class="swiper-slide banner-swiper__slide banner-swiper__slide--1">
      <p>Slide 1</p>
    </div>

    <div class="swiper-slide banner-swiper__slide banner-swiper__slide--2">
      <p>Slide 2</p>
    </div>

    <div class="swiper-slide banner-swiper__slide banner-swiper__slide--3">
      <p>Slide 3</p>
    </div>

  </div>

  <div class="swiper-button-prev"></div>
  <div class="swiper-button-next"></div>
  <div class="swiper-pagination"></div>
</div>
